* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://cdn.pixabay.com/photo/2018/03/16/04/40/grid-3230205_1280.jpg');
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}

header .left-side a img {
  width: 80px;
}

header .right-side {
  display: flex;
}

header .right-side .nav-link-wrapper a {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: black;
}
.image-container {
  text-align: center; /* Centra el contenido dentro del contenedor */
}

.image-container h2 {
  font-size: 24px; /* Tamaño del título */
  margin-top: 10px; /* Espacio superior */
  color: #0077be; /* Color del título */
}

.image-container p {
  font-size: 16px; /* Tamaño del párrafo */
  margin-top: 5px; /* Espacio superior */
  color: #333; /* Color del texto del párrafo */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 50px auto;
}

.container .left-side {
  text-align: center;
}

.container .left-side h1 {
  font-size: 60px;
  letter-spacing: 2px;
}

.container .left-side h1 .green {
  color: #0077be;
  font-family: "Viga", serif;
}

.container .left-side p {
  font-size: 20px;
  letter-spacing: 0.5px;
}

.container .left-side a {
  display: inline-block;
  background: green;
  padding: 12px 18px 12px 18px;
  text-decoration: none;
  border-radius: 25px;
  color: white;
  margin-top: 15px;
  font-size: 17px;
  font-weight: bold;
}

.container .right-side {
  text-align: center;
  margin-top: 60px;
}

.container .right-side img {
  max-width: 50%;
}

.container .right-side .box {
  position: absolute;
  display: grid;
  right: 0%;
  bottom: 0%;
}

.container .right-side .box img {
  width: 25px;
  margin: 10px;
}

.container .right-side .box img.facebook {
  width: 18.5px;
}

.thumb {
  display: flex;
  margin-top: -60px;
  justify-content: center;
}

.thumb a:hover {
  margin-top: -15px;
  transition: 0.2s;
}

.thumb img {
  width: 54px;
  margin: 20px;
}

@media (min-width: 1140px) {
  * {
    margin: 0px;
    padding: 0px;
  }

  body {
    overflow-x: hidden;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
  }

  header .left-side a img {
    width: 80px;
  }

  header .right-side {
    display: flex;
  }

  header .right-side .nav-link-wrapper a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
  }

  .container {
    max-width: 90%;
    margin: 50px auto;
    display: flex;
  }

  .container .left-side {
    text-align: left;
    flex: 1;
  }

  .container .left-side h1 {
    font-size: 60px;
    letter-spacing: 2px;
  }

  .container .left-side h1 .green {
    color: #0077be;
    font-family: "Viga", serif;
  }

  .container .left-side p {
    font-size: 20px;
    letter-spacing: 0.5px;
  }

  .container .left-side a {
    display: inline-block;
    background: green;
    padding: 12px 18px 12px 18px;
    text-decoration: none;
    border-radius: 25px;
    color: white;
    margin-top: 15px;
    font-size: 17px;
    font-weight: bold;
  }

  .container .right-side {
    flex: 1;
    text-align: center;
  }

  .container .right-side img {
    width: 330px;
    border-radius: 25px; /* Borde redondeado */
  }

  .container .right-side .box {
    display: grid;
    position: absolute;
    bottom: 40%;
    right: 1%;
  }

  .container .right-side .box img {
    width: 25px;
    margin: 10px;
  }

  .container .right-side .box img.facebook {
    width: 18.5px;
  }

  .thumb {
    position: absolute;
    bottom: 0%;
    left: 40%;
  }

  .thumb a:hover {
    margin-top: -15px;
    transition: 0.2s;
  }

  .thumb img {
    width: 54px;
    margin: 20px;
  }
}

@media only screen and (max-width: 650px) {
  header {
    display: block;
  }

  header .left-side a img {
    width: 80px;
    margin: auto;
    display: block;
  }

  header .right-side {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  header .right-side .nav-link-wrapper a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
  }
  .container {
    max-width: 80%;
    margin: 50px auto;
  }

  .container .left-side {
    text-align: center;
  }

  .container .left-side h1 {
    font-size: 50px;
    letter-spacing: 2px;
  }

  .container .left-side h1 .green {
    color: #0077be;
    font-family: "Viga", serif;
  }

  .container .left-side p {
    font-size: 18px;
    letter-spacing: 0.5px;
  }

  .container .left-side a {
    display: inline-block;
    background: green;
    padding: 12px 18px 12px 18px;
    text-decoration: none;
    border-radius: 25px;
    color: white;
    margin-top: 15px;
    font-size: 16.2px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 404px) {
  header {
    display: block;
  }

  header .left-side a img {
    width: 80px;
    margin: auto;
    display: block;
  }

  header .right-side {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  header .right-side .nav-link-wrapper a {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: black;
  }
  .container .right-side img {
   width: 100%; /* Asegúrate de que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 800px; /* Ajusta la altura máxima según sea necesario */
    border-radius: 15px; /* Bordes redondeados */
    transition: transform 0.3s; /* Transición suave para el efecto de hover */
  }
  .container .right-side img {
    max-width: 50%;
  }

  .container .right-side .box {
    display: none;
    position: absolute;
    bottom: 250px;
    right: 25px;
  }

  .container .right-side .box img {
    width: 25px;
    margin: 10px;
  }

  .container .right-side .box img.facebook {
    width: 18.5px;
  }

  .thumb {
    display: flex;
    margin-top: -30px;
    justify-content: center;
  }

  .thumb a:hover {
    margin-top: -15px;
    transition: 0.2s;
  }

  .thumb img {
    width: 45px;
    margin: 20px;
  }
}


.social-menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.social-btn {
    background-color: #138de4; /* Color del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 15px; /* Espaciado */
    border-radius: 50%; /* Hacer el botón circular */
    cursor: pointer; /* Cambia el cursor al pasar */
    font-size: 24px; /* Tamaño del texto */
    width: 60px; /* Ancho fijo */
    height: 60px; /* Altura fija */
    display: flex; /* Para centrar el texto */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
}

.social-icons {
    display: none; /* Inicialmente oculto */
    position: absolute; /* Para que se superponga al botón */
    bottom: 60px; /* Espacio entre el botón y los íconos */
    right: 0; /* Alineado a la derecha */
    background: transparent; /* Fondo transparente */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0); /* Sombra */
    padding: 10px; /* Espaciado interno */
}

.social-icons a {
    display: block; /* Cada ícono en una nueva línea */
    margin: 5px 0; /* Margen entre los íconos */
}

.social-icons img {
    width: 50px; /* Ancho del icono */
    height: auto; /* Altura automática */
}
